.header{
  display: flex;
  height: 57px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid rgb(222, 222, 222);
  z-index: 100;
}

.left-section{
  margin-right: 60px;
  display: flex;
  align-items: center;
  
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo{
  height: 20px;
  cursor: pointer;
}

.middle-section{
  flex: 1;
  max-width:470px;
  height: 40px;
  display: flex;
  align-items: center;
}

.search-box{
  flex: 1;
  height: 40px;
  border-style: solid;
  border-width: 0.8px;
  padding: 1px;
  padding-left: 12px;
  font-size: 16px;
  border:1px solid rgba(204, 204, 204);
  box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
  width: 0px;
  z-index: 100;
}

.search-button{
  width: 64px;
  margin-left: -1px;
  height: 40px;
  border:1px solid rgba(204, 204, 204);
  background-color: rgb(247, 247, 247);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search-button:hover{
  background-color: rgb(240, 240, 240);
}

.search-button:active{
  background-color: rgb(107, 208, 255);
}

.search-button,
.voice-search-button,
.right-section-inner-div,
.notifications-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.right-section-inner-div .tooltip,
.notifications-container .tooltip{
  position: absolute;
  background-color: rgb(111, 111, 111);
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 2px;
  bottom: -40px;
  font-size: 12px;
  font-family: Roboto, Arial;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.right-section-inner-div:hover .tooltip,
.notifications-container:hover .tooltip{
opacity: 1;
}

.search{
  height: 24px;
}

.voice-search-button{
  width: 40px;
  height: 40px;
  margin-left: 8px;
  border-radius: 20px;
  border-style: solid;
  border-width: 0;
  background-color: rgb(248, 248, 248);
  
}

.voice-search-icon{
  height: 24px;
}

.right-section{
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 29px;
  margin-right: 24px;
  flex-shrink: 0;
}

.upload{
  height: 24px;
  cursor: pointer;
}

.youtube-apps{
  height: 24px;
  cursor: pointer;
}

.notifications{
  height: 24px;
  cursor: pointer;
}

.notifications-container{
  position: relative;
  display: flex;
}

.notifications-count{
  position: absolute;
  background-color: rgb(204, 0, 0);
  border: 2px solid white;
  color: white;
  top: -3px;
  right: -7px;
  padding: 3px 6px;
  height: 18px;
  width: 18px;
  font-family: Roboto, Arial;
  font-size: 10px;
  font-weight: 500;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-channel{
  height: 32px;
  cursor: pointer;
  border-radius: 16px;
}